* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: arial;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
img {
  width: 100%;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 0;
}
.main-game {
  display: flex;
  flex-direction: column;
}
header .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
select {
  width: 150px;
}
button{
  padding: 0 15px;
}
.logo {
  width: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  font-weight: 800;
}
main {
  flex-grow: 1;
  background-color: #7fffd4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}
.element {
  aspect-ratio: 1/1;
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid grey;
  border-bottom: 5px solid grey;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected {
  background-color: rgb(50, 99, 222);
  color: white;
}
.bomb {
  background-color: red;
  color: black;
}
.result {
  color: black;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}
.flag-md{
  width: 30px;
  vertical-align: middle;
}
a{
  text-decoration: none;
}
